<div class="main-content">
        <div class="nav-search">
                <input type="text" placeholder="Search..">
            </div>
        
    <div class="sidenav-content">
        <mat-sidenav-container mode="side" opened class="color">


            <div>
                <span>
                    <mat-icon class="material-icons" id="material-icons"> swap_vertical_circle</mat-icon>
                    Smart filter
                </span>
                <mat-divider></mat-divider>
            </div>

            <div>
                <mat-icon class="material-icons" id="material-icons"> business_center</mat-icon>
                <mat-slide-toggle color="warn"></mat-slide-toggle>
            </div>

            <div>
                <mat-icon class="material-icons" id="material-icons"> calendar_today</mat-icon>

                <mat-slide-toggle color="warn"></mat-slide-toggle>
            </div>

            <div>
                <mat-icon class="material-icons" id="material-icons"> favorite</mat-icon>
                <mat-slide-toggle color="warn"></mat-slide-toggle>
            </div>

            <mat-divider></mat-divider>

            <div class="status">
                <p>Status</p>
            </div>
            <div class="delivered">
                <mat-label>
                    <input matInput type="search" placeholder="Search" class="btn-search">
                    <p> <span> {{delivered}}</span> </p>
                </mat-label>
            </div>

        </mat-sidenav-container>
    </div>


   

    <div fxLayout="row" class="main-table">


        <table>


            <tr>
                <!-- th content here-->
            </tr>
            <tr *ngFor="let deliveryStatus of deliveryShowDate" class="head">

                <td>
                    {{currentDate | date:'dd-MMM h:mm'}}
                </td>

                <td>
                    <mat-icon class="material-icons" color="basic">fairplanemode_active</mat-icon>
                </td>

                <td style="display: flex; flex-flow: column; align-items: center;">
                    {{deliveryStatus .mainPlace}}
                    <mat-icon class="material-icons" color="warn">keyboard_arrow_down</mat-icon>
                    {{deliveryStatus .secondPlace}}

                </td>

                <td>
                    <mat-icon class="material-icons" color="basic">local_shipping</mat-icon>
                </td>
                <td>
                    <p> <strong> {{deliveryStatus.price | currency}}</strong> </p>
                </td>
                <td>
                    <mat-icon class="material-icons" color="accent">looks_one</mat-icon>
                </td>
                <td>
                    <mat-icon class="material-icons">more_vert</mat-icon>
                </td>

            </tr>
            <div class="btn-more">
                <button mat-fab color="warn">+</button>
            </div>
        </table>

    </div>


</div>