
/*main container css*/
.main-container{
    position: absolute;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    padding-top: 30px;

}
*{
    margin: 0px;
    padding: 0px;
}

table {
    width: 100%;
  }
  .main-content{
      padding: 30px;
      margin: 20px;
  }
  .sidenav-content{
    width: 200px;
    float: left;
}


.sidenav-content p{
    text-align: center;
    padding: 20px;
    margin:5px;
}
#material-icons{
    padding: 5px;
    margin: 10px;
    
}
.smart-filter p span{
    margin: 5px;
   
    
}
.btn-search{
    text-align: center;
    padding: 2px;
    width: 95%;
    
}
.btn-search button{
    padding: 5px;
    margin: 5px;
    width: 90%;
}
table  td {
    padding:20px;
    margin: 10px;
}


