<mat-card>
        <div fxLayout="row" style="padding-top: 19px" fxLayoutGroup="400px">
            <div>
                <mat-label>
                    <mat-drawer-container>
                        <mat-drawer mode="side" opened>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facilis ipsa,
                            beatae laborum illum incidunt et hic a mollitia est id consequuntur non quae facere dicta libero voluptatum sequi rerum.
                        </mat-drawer>
                    </mat-drawer-container>
                </mat-label>
            </div>
        </div>

</mat-card>


