<mat-card>
        <div fxLayout="row" style="padding-top: 20px" fxLayoutGroup="100px">
            <div>
                    <mat-label>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    </mat-label>
                <mat-label>
                    <mat-slide-toggle></mat-slide-toggle> 
                </mat-label>
            </div>
            <div>
                    <mat-label>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    </mat-label>
                <mat-label>
                    <mat-slide-toggle></mat-slide-toggle> 
                </mat-label>
            </div>
            <div>
                    <mat-label>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    </mat-label>
                <mat-label>
                    <mat-slide-toggle></mat-slide-toggle> 
                </mat-label>
            </div>
        </div>

</mat-card>



