        /*main content css*/
        .main-content{
            margin: 5px;
        }
        /*end css*/
        
        /*start sidenav css*/
        .sidenav-content{
            margin-top: 10px;
            margin: 10px;
            width: 200px;
            float: left;
        }
        /*sidenav color*/
       .color{
        background-color: rgb(230, 230, 230); 
       }
       /*end*/
 
        .sidenav-content p{
            text-align: center;
            padding: 20px;
            margin:5px;
        }
        /* end css*/

        /*sidenav search button css*/
        .btn-search {
           height: 80%;
            padding: 3px;
            margin: 3px;
            width: 90%;
        }
      
        .delivered p{
            width: auto;
            padding: 10px;
            margin: 10px;
            height: auto;
            background-color: rgb(254, 254, 254)
        }
    
        /*end css sidenav*/


        /* start nav search css*/
        .nav-search{
            width: 16%;
            height: 5%;
            padding-top: 10px;
            margin: 1px; 
            float: right;
            margin-right: -25px;
            
        }


        .nav-search input[type=text] {
            padding-top: 6px;
            margin-top: 4px;
            margin-right:50px;
            background: rgb(190, 190, 190);
            border-radius: 5px solid rgb(250, 248, 248);   
        }
        /* end navsearch css*/

        /*table ccs */
        .main-table{
            float: right ;
            width: 80%;
            height: auto;
            margin-right: -10px;
        }
       
        table{
            width:100%;
            margin: 0px 90px;
            border-collapse: separate;
            border-spacing:0 10px;
    
        }
        tr td{
            padding:10px; 
          
        }
        tr.head td{
            background-color:rgb(255, 255, 255);
            color:rgb(155, 155, 155);
        }
        tr.head td:first-child{
             border-top-left-radius: 10px;
             border-bottom-left-radius: 10px;
             
        }
        tr.head td:last-child{
             border-top-right-radius: 10px;
             border-bottom-right-radius: 10px;
        }
       
        .btn-more {
           float: right;
           margin-right: -345%;
        }

        /*sidenav icons css*/
        #material-icons{
            padding:8px;
            margin: 8px;
        }
        /*end css block*/
