<!-- <div fxLayout="row" style="padding: 50px; margin-top: 50px">

        <div>
            <mat-label fxLayout="row" style="padding: 50px; margin-top: 50px">
                <mat-icon class="material-icons"> assignment_turned_in</mat-icon>
            </mat-label>
            <mat-label>
                <mat-slide-toggle></mat-slide-toggle>
            </mat-label>
        </div>
        <div>
            <mat-label fxLayout="row" style="padding: 50px; margin-top: 50px">
                <mat-icon class="material-icons">calendar_today</mat-icon>
            </mat-label>
            <mat-label>
                <mat-slide-toggle></mat-slide-toggle>
            </mat-label>
        </div>
        <div>
            <mat-label fxLayout="row" style="padding: 50px; margin-top: 50px">
                <mat-icon class="material-icons"> favorite_border </mat-icon>
            </mat-label>
            <mat-label>
                <mat-slide-toggle></mat-slide-toggle>
            </mat-label>
        </div>
    </div>
     -->