<mat-drawer-container class="nav-container" autosize>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon class="material-icons"> home</mat-icon>
                <a [routerLink]="['/home']">Home</a>
            </ng-template>
        </mat-tab>

        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon class="material-icons">message</mat-icon>
                Messages
            </ng-template>
        </mat-tab>

        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon class="material-icons">star</mat-icon>
                Wishlist
            </ng-template>
        </mat-tab >

        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon class="material-icons">settings_applications</mat-icon>
                Settings
            </ng-template>
        </mat-tab >

        <mat-tab class="tab">
            <ng-template mat-tab-label>
                <mat-icon class="material-icons">person</mat-icon>
                My account
            </ng-template>
            <!-- <div fxLayout="row" style="padding-top: 10px" fxLayoutGap="200px"> 
            </div> -->
        </mat-tab>
    </mat-tab-group>

<router-outlet></router-outlet>
</mat-drawer-container>
